<div class="container">
  <form>
    <div class="row">
      <div class="col-sm-4 jumbotron">
        <div class="col-sm-6 ">
          <label for="virtualMemory" class="text-capitalize ">Ilość stron</label>
        </div>
        <div class="col-sm-6">
          <input type="number" id="virtualMemory" #virtualMemory>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6">
          <label for="physicalMemory">Ilość ramek</label>
        </div>
        <div class="col-sm-6">
          <input type="number" id="physicalMemory" #physicalMemory>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6">
          <label for="stringReference"> ciągu odwołań</label>
        </div>
        <div class="col-sm-6">
          <input type="number" id="stringReference" #stringReference>
        </div>
      </div>
    </div>
    <div class="row padding">
      <input type="submit" class="btn btn-primary center-block" value="Wyślij"
             (click)="getAlgorithmData(virtualMemory.value, physicalMemory.value, stringReference.value)"/>
    </div>
  </form>
</div>
<hr>
<div class="container" [hidden]="showAlgorithms">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2" ><button class="btn btn-info">Pokaż algorytm FIFO</button></div>
    <div class="col-sm-2" ><button class="btn btn-info">Pokaż algorytm OPT</button></div>
    <div class="col-sm-2" ><button class="btn btn-info">Pokaż algorytm LRU</button></div>
    <div class="col-sm-2" ><button class="btn btn-info">Pokaż algorytm ALRU</button></div>
    <div class="col-sm-2" ><button class="btn btn-info">Pokaż algorytm RAND</button></div>
    <div class="col-sm-1"></div>
  </div>
  <hr>
</div>
<div class="container">{{algorithmData}}</div>
